<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for creating a list at The Fridge</h1>
    <p>
      Your Shopping List:<br>
    </p>
    <ol>
      <% @list_ingredients.each do |li|%> 
      <li>
        <%= li.quantity unless li.quantity.blank? %>
        <%= li.measurement unless li.measurement.blank? %>
        <%= li.ingredient.name %> 
      </li>
      <% end %>
    </ol>
    <p>
      Your Current Recipes:<br>
    </p>
    <ol>
      <% @recipes.each do |recipe|%> 
      <li>
        <%= recipe.name %> | <%= recipe.servings %> Servings
        <br> <%= recipe.source_url %>
      </li>
      <% end %>
    </ol>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
